.hide {
  display: none;
}

body {
  background-color: black;
}

.folderName {
  color: orange;
}

.fileName {
  color: darkmagenta;
}

.fileGroup {
  color: blue;
}
.verifyType {
  color: cyan;
}

.XHTMLresult {
  color: whitesmoke;
}

.xhtml-error {
  color: red;
}
.xhtml-warning {
  color: yellow;
}
.xhtml-info {
  color: yellow;
}
.errGroup {
  color: darkgoldenrod;
}

li {
  color: white;
}

.hasProblems {
  color: red;
}
.noProblems {
  color: #22a74e;
}
