.hide {
  display: none;
}

body {
  background-color: #2c2f33;
}

.folderName {
  color: orange;
}

.fileName {
  color: #00adee;
}

.fileGroup {
  color: #7289da;
  color: #7C7CFF;
  /*color: #F47CFF;*/
}
.verifyType {
  color: cyan;
}

.XHTMLresult {
  color: whitesmoke;
}

.xhtml-error, .hasProblems {
  color: #FF7C7C;

}
.xhtml-warning, .xhtml-info {
  color: #FFD17C;
  color: #C4FF7C;  
}
.errGroup {
  color: darkgoldenrod;
	font-size: 1em;
}

.expandCollapse:hover {
  background-color: #494e52;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.isCollapsed::before{
  content: "(+) "
}
.isExpanded::before{
  content: "(-) "
}

li {
  color: white;
}

.noProblems {
  color: #22a74e;
}

.blink_me {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}